
*.dll
*.json
*.txt
*.cache
*.editorconfig
*.config
*.v2
*.vsidx
EcoLogisticsAPI/.vs/EcoLogisticsAPI/v16/.suo
*.bin
EcoLogisticsAPI/.vs/EcoLogisticsAPI/v17/.suo
*.pdb
*.exe
*.so
*.a
*.dylib
*.csproj
EcoLogisticsAPI/obj/Debug/net6.0/EcoLogisticsAPI.csproj.BuildWithSkipAnalyzers
*.user
*.sln
*.cs
*.CopyComplete
*.props
*.targets
*.zip
*.pubxml
