<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a41b1b86-d7a2-4b5e-be61-ff103918cafb/resourcegroups/EcoPowerLogistics/providers/Microsoft.Web/sites/EcoLogisticsAPI</ResourceId>
    <ResourceGroup>EcoPowerLogistics</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ecologisticsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e4cf622e-3554-4bec-a4e7-a7f4c23a3aff</ProjectGuid>
    <PublishUrl>https://ecologisticsapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EcoLogisticsAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>